# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg

.htmlcov
.tox
.nox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

.pytest_cache/

.vscode/
.DS_Store
Thumbs.db

# MultiQC output
multiqc_report/
multiqc_data/
multiqc_report.html
*.log
